.app {
  background-color: '#F6F6F0';
  width: 100%;
  height: 98%;
  position: fixed;
  overflow-y: scroll;
  top: 10px;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  /* Optional: Add some padding for better spacing */
}

footer {
  position: fixed;
  width: 100%;
  height: 25px;
  background-color: #1d77b3;
  color: #fff;
  bottom: 1px;
}

.footerText {
  position: fixed;
  margin-left: 85%;
  font-size: small;
  width: 100%;
  margin-top: 5px;
}

.chartBox {
  border: solid 1px #cdc9c9;
}
